pyrogram==2.0.106
TgCrypto
py-tgcalls==0.9.7
fastapi
uvicorn
python-socketio[asyncio]
aiohttp
motor
pymongo
yt-dlp
youtubesearchpython
youtube-search-python
python-dotenv
Pillow
requests
pytz
telegraph
unidecode
pykeyboard
aiofiles
humanize
