kurigram==2.2.21
TgCrypto==1.2.5
py-tgcalls==2.3.3
ntgcalls
fastapi
uvicorn
python-socketio[asgi]
aiohttp
motor
pymongo
yt-dlp
youtubesearchpython
youtube-search-python
python-dotenv
Pillow
requests
pytz
telegraph
unidecode
pykeyboard
aiofiles
humanize
httpx==0.24.1
ffmpeg-python
gitpython
pydub
spotipy
pickledb
edge-tts
httpx
